body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

p{
    font-size: 20px;
    color: #333;
    max-width: 300px;
    line-height: 1.5;

}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-link {
    padding: 1rem;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}


.title {
    /*Step 8: Style .title class*/

}

.jokeAPI-background{
    /*Step 10: Change Background Color to rgba(218, 248, 255, 255)*/
}

.container {
    /*Step 12: Style .container class */
}       

button {
    /*Step 14: Style button class */
}

